@model CicleFem1.Models.Scheda

@{
    ViewBag.Title = "Details";
}

<h2>Dati scheda N.@Model.Numero</h2>

<div>
    <h4>
        <span class="label label-info">
            dal @Html.DisplayFor(model => model.DataI)
            al @Html.DisplayFor(model => model.DataF)
        </span>
    </h4>
</div>




<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#grafico" aria-controls="grafico" role="tab" data-toggle="tab">Grafico</a></li>
        <li role="presentation"><a href="#dati" aria-controls="dati" role="tab" data-toggle="tab">Dati</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!--Tab grafico-->
        <div role="tabpanel" class="tab-pane active" id="grafico">
            <canvas id="myChart" ></canvas>
            @*Tabelle dati sotto il  grafico*@
            <div class="row">
                <table class="table table-bordered" style="font-size:0.7em">
                    <tr>
                        @foreach (var item in Model.DettaglioScheda)
                        {
                            var di = 100 / Model.NumeroG;
                            var larg = di + "%; padding:0";
                            <td class="text-center" style="width:@larg">
                                <div class="div-zoom">
                                    <div>
                                        <a href="@Url.Action("Edit", "DettaglioSchedas", new { id = item.DettaglioScheda_Id, scheda = item.Scheda_Id })">
                                            <span>@item.Giorno</span><br />
                                            <span>@item.Data.ToString("dd MMM")</span><br />
                                            <span><strong>@item.Data.ToString("HH:mm")</strong></span><br />
                                            <span class="label label-success">@item.MucoC</span><br />
                                            <span class="label label-info">@item.UteApe</span><br />
                                            <span class="label label-info">@item.UtePos</span><br />
                                            <span class="label label-info">@item.UteCon</span><br />
                                            <span class="label label-info">@item.UteInc</span><br />
                                            <span class="label label-danger">@item.Sensazione</span><br />
                                            <span class="label label-coito">@item.Coito</span><br />
                                        </a>

                                    </div>
                                </div>
                            </td>

                        }
                    </tr>
                </table>

            </div>
            <!--Legenda -->
            <div>
                <ul class="list-unstyled">
                    <li>
                        <span class="label label-success"><em>Muco.</em> Caratteristica: Opaco, Trasparente, Appiccicoso, Filante, Denso, Elastico</span><br />
                    </li>
                    <li>
                        <span class="label label-info"><em>Cervice uterina.</em> </span>
                        <ul>
                            <li>
                                <span class="label label-info">Apertura: Chiusa, Socchiusa, Aperta</span>
                            </li>
                            <li>
                                <span class="label label-info">Posizione: Alto, Medio, Basso</span>

                            </li>
                            <li>
                                <span class="label label-info">Consistenza: Dura, Soffice</span>
                            </li>
                            <li>
                                <span class="label label-info">Inclinazione: Verticale, Inclinata</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="label label-danger">Sensazione: Asciutto, Umido, Bagnato, Lubrificato</span>
                    </li>
                    <li>
                        <span class="label label-coito">Coito: X completo, I interrotto, O senza eiaculazione, P con preservativo o diaframma </span><br />

                    </li>
                </ul>
            </div>
        </div>

        <!--Tab dati-->
        <div role="tabpanel" class="tab-pane" id="dati">
            <div >
                <table class="table table-hover">
                    <thead>

                        <tr>
                            <th>
                                Data ora rilevamento
                            </th>
                            <th>
                                Giorno
                            </th>
                            <th>
                                Temperatura
                            </th>
                            <th>
                                Perdite ematiche
                            </th>
                            <th colspan="2">
                                Muco Q.tà
                            </th>
                            <th>
                                Coito
                            </th>
                            <th>
                                Sensazione
                            </th>
                            <th colspan="4">
                                Utero<br />
                                Con. Inc. Ape. Pos.
                            </th>
                        </tr>
                    </thead>

                    @foreach (var item in Model.DettaglioScheda)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Giorno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Temperatura)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ematic)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Muco)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MucoC)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Coito)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sensazione)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UteCon)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UteInc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UteApe)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UtePos)
                            </td>
                           <td>
                                @Html.ActionLink("Edit", "Edit", "DettaglioSchedas", new { id = item.DettaglioScheda_Id, scheda = item.Scheda_Id }, null) |

                            </td>
                        </tr>

                    }
                </table>
            </div>

        </div>
    </div>

</div>


@section Scripts{
    <script type="text/javascript">

    var result = @Html.Raw(ViewBag.DataPoints);
    var label = [];
        var temp = [];
        var muco = [];
        var ematic = [];
        var data = [];
        var mucoC = [];
    for (var i = 0; i < result.length; i++) {
        label.push(result[i].g);
        temp.push(result[i].t);
        muco.push(result[i].m);
        ematic.push(result[i].e);
        data.push(result[i].d);
        mucoC.push(result[i].mc);
        };
        //Grafico temperature
    var ctx = document.getElementById("myChart");
        let myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: data,
                datasets: [
                    {
                        label: 'Temperatura',
                        yAxisID: "B",
                        data: temp,
                        lineTension: 0,
                        pointBackgroundColor: '#000',
                        borderColor: '#000',
                        borderWidth: 2,
                        fill: false,
                    },
                    {
                        label: 'Mestruazioni',
                        yAxisID: "A",
                        data: ematic,
                        backgroundColor: 'rgb(255,0,0,0.4)',
                        pointRadius: 0,
                    },
                    {
                        label: 'Muco',
                        data: muco,
                        backgroundColor: 'rgb(96,96,96,0.4)',
                        pointRadius: 0,
                   },
                ],
            },
            options: {
                legend: {
                    display: true,
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var label = data.datasets[tooltipItem.datasetIndex].label || '';
                            if (label) {
                                label += ': ';
                            }
                            label += tooltipItem.yLabel;
                            return label;
                        },
                    },
                },
                scales: {
                    yAxes: [{
                        id: "A",
                        type: 'linear',
                        position: 'right',
                        tooltips: {
                            enabled: false
                        },
                        ticks: {
                            max: 50,
                            min: 0
                        },
                        display: false,
                    },
                    {
                        id: "B",
                        type: 'linear',
                        position: 'left',
                        ticks: {
                            max: 37.5,
                            min: 36,
                            stepSize: 0.1
                        },
                        display: true,
                        }],
                }
            }
        });

    </script>
}
